# Experimental evaluation of Seminator
## Tools preparation
Make sure you have [Spot](https://spot.lrde.epita.fr/index.html) version 2.3.2 or greater installed in you system and that the commands `autfilt`, `genltl`, `randltl`, `ltlfilt`, `ltl2tgba` are available in your `PATH`.

In [1]:
%%bash
autfilt --version
genltl --version
randltl --version
ltlfilt --version
ltl2tgba --version

autfilt (spot 2.4.1.dev)

Copyright (C) 2017  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
genltl (spot 2.4.1.dev)

Copyright (C) 2017  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
randltl (spot 2.4.1.dev)

Copyright (C) 2017  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
ltlfilt (spot 2.4.1.dev)

Copyright (C) 2017  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
ltl2tgba (spot 2.4.1.dev)

Copyright (C) 2017  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Now check that you have the Python bindings of Spot available.

In [2]:
import spot

Install `Seminator` and the [Owl](https://www7.in.tum.de/~sickert/projects/owl/) library.

In [3]:
%%bash
make
./download_ltl2ldba.sh

make: Nothing to be done for `all'.

In [4]:
%%bash
./seminator --version

Seminator (v1.2.0)
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

## Benchmark formulae preparation

Run the [Formulae](Formulae.ipynb) notebook. For more information about the formulae consult the [notebook](Formulae.ipynb) directly.

In [5]:
%run Formulae.ipynb

Automata of type det:	149
Automata of type cd:	46
Automata of type sd:	3
Automata of type nd:	23
Automata of type det:	100
Automata of type cd:	100
Automata of type sd:	100
Automata of type nd:	100

## Run the Evaluation and Results

The notebook [Run_comparison](Run_comparison.ipynb) creates tables that compare Seminator to `ltl2ldba` and `nba2ldba`. The  R-script ['data/scatter.r'](data/scatter.r) generates corresponding scatter plots. To just see the tables run the next cell. If you want to see how the tables were created, conslut the notebook  directly.

If you want to rerun the experiments by yourself, set the variable `rerun` to `True` in the second cell of the [Run_comparison](Run_comparison.ipynb) notebook and then run (either using the next cell, or in the notebook directly) it **[can take more then 1 hour]**.
```python
rerun = True```
The [Run_comparison](Run_comparison.ipynb) notebook then creates 8 `.csv` files in the directory [`data`](data) that are used to create the tables and scatter plots. With `rerun = False` you rerun only the analysis.

In [6]:
%run Run_comparison.ipynb

### Comparison of tools producing cut-deterministic automata
All tools finished within the one-minute time limit.

                     seminator       2-step       ltl2ldba
                   n        no   yes     no   yes       no   yes
origin     type
random     det   100       413   413    414   414      570   497
           cd    100       463   463    463   463      732   649
           sd    100       734   712    735   713     1495  1275
           nd    100      2025  1140   2103  1183     1387  1038
literature det   149       556   556    585   585     1039   809
           cd     46       194   194    198   198      612   488
           sd      3        13    13     13    13       53    40
           nd     23       656   414    698   450      470   410

### Comparison of tools producing semi-deterministic automata
All tools finished within the one-minute time limit.

                     seminator      2-step      ltl2ldba      nba2ldba
                   n        no  yes     no  yes       no  yes       no   yes
origin     type
random     det   100       413  413    414  414      638  446      426   426
           cd    100       463  463    463  463      733  539      863   634
           sd    100       704  704    705  705     1228  784      850   774
           nd    100      1231  937   1274  987     1314  804     3657  1875
literature det   149       556  556    585  585     1277  855      600   600
           cd     46       194  194    198  198      838  341      377   240
           sd      3        13   13     13   13       41   17       17    13
           nd     23       472  369    514  404      666  376      869   573

### Create scatterplots
We use R to create scatter plots that compare automata sizes produced by Seminator to those produced by `ltl2ldba` and `nba2ldba`

In [7]:
%%bash
cd data
r scatter.r

Use iframes to show the PDFs.

In [8]:
class PDF(object):
    def __init__(self, pdf, size=(200,200)):
        self.pdf = pdf
        self.size = size

    def _repr_html_(self):
        return '<iframe src={0} width={1[0]} height={1[1]}></iframe>'.format(self.pdf, self.size)

    def _repr_latex_(self):
        return r'\includegraphics[width=1.0\textwidth]{{{0}}}'.format(self.pdf)

In [9]:
PDF('data/ltl_sem.pdf', size=(600,530))

In [10]:
PDF('data/nba_sem.pdf', size=(600,350))

In [11]:
PDF('data/2step_sem.pdf', size=(600,530))