# Experimental evaluation of Seminator
## Tools preparation
Make sure you have [Spot](https://spot.lrde.epita.fr/index.html) version 2.3.2 or greater installed in you system and that the commands `autfilt`, `genltl`, `randltl`, `ltlfilt`, `ltl2tgba` are available in your `PATH`.

In [23]:
%%bash
autfilt --version
genltl --version
randltl --version
ltlfilt --version
ltl2tgba --version

autfilt (spot) 2.7

Copyright (C) 2018  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
genltl (spot) 2.7

Copyright (C) 2018  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
randltl (spot) 2.7

Copyright (C) 2018  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
ltlfilt (spot) 2.7

Copyright (C) 2018  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.
ltl2tgba (spot) 2.7

Copyright (C) 2018  Laboratoire de Recherche et Développement de l'Epita.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

Now check that you have the Python bindings of Spot available.

In [24]:
import spot

Install `Seminator` and the [Owl](https://www7.in.tum.de/~sickert/projects/owl/) library.

In [25]:
%%bash
make
./download_ltl2ldba.sh

g++  -std=c++14 -g -I/usr/local/include  -c -o seminator.o seminator.cpp
g++ -std=c++14 -g -lstdc++ -o seminator seminator.o -L/usr/local/lib -lspot -lbddx

In [27]:
%%bash
./seminator --version

Seminator (v1.2.0dev)
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>.
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.

## Benchmark formulae preparation

Run the [Formulae](Formulae.ipynb) notebook. For more information about the formulae consult the [notebook](Formulae.ipynb) directly.

%run Formulae.ipynb

## Run the Evaluation and Results

The notebook [Run_comparison](Run_comparison.ipynb) creates tables that compare Seminator to `ltl2ldba` and `nba2ldba`. The  R-script ['data/scatter.r'](data/scatter.r) generates corresponding scatter plots. To just see the tables run the next cell. If you want to see how the tables were created, conslut the notebook  directly.

If you want to rerun the experiments by yourself, delete the `.csv` files with the results in the directory `data`,
```ipython
rm data/*.csv
```
or set the variable `rerun` to `True` in the second cell of the [Run_comparison](Run_comparison.ipynb) notebook and then run (either using the next cell, or in the notebook directly) it **[can take more then 1 hour]**.
```python
rerun = True```
The [Run_comparison](Run_comparison.ipynb) notebook then creates 8 `.csv` files in the directory [`data`](data) that are used to create the tables and scatter plots. With `rerun = False` you rerun only the analysis.

In [36]:
rerun = False
%run Run_comparison.ipynb

### Comparison of tools producing cut-deterministic automata
All tools finished within the one-minute time limit.

                     seminator         sem_enter         2-step          \
                   n        no     yes        no    yes      no     yes
origin     type
random     det   100     415.0   415.0     415.0  415.0   416.0   416.0
           cd    100     464.0   464.0     464.0  464.0   464.0   464.0
           sd    100     734.0   712.0     734.0  712.0   735.0   713.0
           nd    100    2019.0  1122.0    2033.0  978.0  2093.0  1176.0
literature det   149     556.0   556.0     556.0  556.0   585.0   585.0
           cd     46     194.0   194.0     194.0  194.0   198.0   198.0
           sd      3      13.0    13.0      13.0   13.0    13.0    13.0
           nd     23     622.0   397.0     622.0  385.0   644.0   434.0

                ltl2ldba
                      no    yes
origin     type
random     det     514.0  460.0
           cd      688.0  588.0
           sd      921.0  772.0
           nd     1088.0  833.0
literature det    1968.0  773.0
           cd      517.0  331.0
           sd       26.0   19.0
           nd      453.0  354.0

### Comparison of tools producing semi-deterministic automata
All tools finished within the one-minute time limit.

                     seminator        sem_enter         2-step         \
                   n        no    yes        no    yes      no    yes
origin     type
random     det   100     415.0  415.0     415.0  415.0   416.0  416.0
           cd    100     464.0  464.0     464.0  464.0   464.0  464.0
           sd    100     704.0  704.0     704.0  704.0   705.0  705.0
           nd    100    1211.0  921.0    1223.0  759.0  1251.0  970.0
literature det   149     556.0  556.0     556.0  556.0   585.0  585.0
           cd     46     194.0  194.0     194.0  194.0   198.0  198.0
           sd      3      13.0   13.0      13.0   13.0    13.0   13.0
           nd     22     345.0  286.0     345.0  271.0   353.0  289.0

                ltl2ldba        nba2ldba
                      no    yes       no     yes
origin     type
random     det     514.0  428.0    428.0   428.0
           cd      688.0  545.0    506.0   506.0
           sd      921.0  688.0    720.0   720.0
           nd     1087.0  750.0   1643.0  1003.0
literature det    1968.0  728.0    600.0   600.0
           cd      517.0  285.0    207.0   207.0
           sd       26.0   16.0     13.0    13.0
           nd      406.0  278.0    513.0   345.0

### Create scatterplots
We use R to create scatter plots that compare automata sizes produced by Seminator to those produced by `ltl2ldba` and `nba2ldba`. The last graph shows the comparison of the approach of Seminator in comparison to the 2-step approach.

In [29]:
%%bash
cd data
r scatter.r

Warning messages:
1: Removed 1 rows containing missing values (geom_point).
2: Removed 1 rows containing missing values (geom_point).

Use iframes to show the PDFs.

In [30]:
class PDF(object):
    def __init__(self, pdf, size=(200,200)):
        self.pdf = pdf
        self.size = size

    def _repr_html_(self):
        return '<iframe src={0} width={1[0]} height={1[1]}></iframe>'.format(self.pdf, self.size)

    def _repr_latex_(self):
        return r'\includegraphics[width=1.0\textwidth]{{{0}}}'.format(self.pdf)

In [31]:
PDF('data/ltl_sem.pdf', size=(600,530))

In [32]:
PDF('data/nba_sem.pdf', size=(600,350))

In [33]:
PDF('data/2step_sem.pdf', size=(600,530))

## The effect of `--jump-enter` on simplified automta

In [34]:
PDF('data/enter_sem.pdf', size=(600,530))

In [35]:
PDF('data/enter_ltl2ldba.pdf', size=(600,530))